h1 {
    font-size: 5rem;
    text-align: center;
}

table,th,tr, td {
    border: 0.2rem solid blue;
}

.marvelimage {
    display: block;
    margin: auto;
    padding: 2%;
    width: 55%; 
    
}
#linkedImage {
    text-align: center;    
}

footer {
    text-align: center;
}
