body {
    background-image: url("https://thumbs.dreamstime.com/b/seamless-vector-abstract-pattern-rounded-irregular-compound-lines-inspired-nature-modern-repeatable-background-seamless-173965778.jpg");

}
h1 {
    background-color: rgb(255, 255, 255, 0.3);
    font-size: 5rem;
    text-align: center;
}

h2 {
    background-color: rgb(255, 255, 255, 0.3);
    font-size: 3rem;
}

table,th,tr, td {
    background-color: rgb(255, 255, 255, 0.3);
    border: 0.2rem solid darkcyan;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    
}

.marvelimage {
    display: block;
    margin: auto;
    padding: 1%;
    width: 40%; 
}
#linkedImage {
    text-align: center;    
}

footer {
    background-color: rgb(255, 255, 255, 0.6);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5%;
    text-align: center;
    margin: auto;
    }
